body {
  font-family: 'Montserrat', sans-serif;
}

section #tile-board {
  background-color: #92C96E;
}

section.game-page header > h1 {
  font-size: 50px !important;
}

section#scoreboard {
  background-color: #AED793;
}

.tile {
  display: inline-block;
  width: 60px;
  height: 120px;
  border-color: black;
  border-style: solid;
  border: 2px;
  margin-right: 10px;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  line-height: 40px;
  color: white;
}

.tile:hover {
  text-decoration: none;
  color: white;
}

.tile-active {
  background-color: #997238;
}

.tile-active:hover {
  box-shadow: 2px 2px #994238;
}

.tile-disabled {
  background-color: #DDC5A2 !important;
}

.player-selected {
  background-color: #994238;
}

.dice > img {
  height: 100px;
  width: auto;
  background-color: white;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.dice > div {
  margin-bottom: 20px;
}

article p {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
}

footer p {
  padding-top: 20px;
  padding-bottom: 10px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  margin-bottom: 40px;
}

button#start-game {
  font-size: 30px;
  margin-top: 20px;
}

h1 {
  line-height: 90px;
}

.highlight {
  color: #994238 !important;
  font-weight: bold;
}

h3.player1 {
  font-size: 30px;
}

h3.player2 {
  font-size: 30px;
}
