body {
  font-family: 'Montserrat', sans-serif;
}

#intro-page-players > h2 {
  margin-top: 10px;
}

#intro-page-tiles>h2 {
  margin-top: 10px;
}

.tile {
  display: inline-block;
  width: 60px;
  height: 120px;
  border-color: black;
  border-style: solid;
  border: 2px;
  margin-right: 10px;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  line-height: 40px;
  color: white;
}

.tile:hover {
  text-decoration: none;
  color: white;
}

.tile-active {
  background-color: #BB8D47;
}

.tile-active:hover {
  box-shadow: 2px 2px blue;
}

.tile-disabled {
  background-color: #ccc !important;
}

.player-selected {
  background-color: red;
}

.dice > img {
  height: 100px;
  width: auto;
  background-color: white;
  margin: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.dice > div {
  margin-bottom: 10px;
}

}
button#confirm-tiles {
  margin-bottom: 40px;
}


article p {
  padding-top: 20px;
  padding-bottom: 10px;
}

footer p {
  padding-top: 20px;
  padding-bottom: 10px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  margin-bottom: 40px;
}

